<<<<<<<< HEAD:server/public/platform/assets/add-BbUD-e-P.css
.form_header[data-v-10ea8076]{margin-bottom:16px;border-radius:.25rem;padding:8px;font-size:var( --el-font-size-medium);font-weight:700;background-color:#ccc3}
========
.form_header[data-v-c14dd4da]{margin-bottom:16px;border-radius:.25rem;padding:8px;font-size:var( --el-font-size-medium);font-weight:700;background-color:#ccc3}
>>>>>>>> master:server/public/platform/assets/add-BhR8zyUW.css
