{
    "root": true,
    "ignorePatterns": ["/auto-imports.d.ts", "/components.d.ts"],
    "extends": [
        "eslint:recommended",
        "@vue/eslint-config-typescript/recommended",
        "@vue/eslint-config-prettier",
        "./.eslintrc-auto-import.json",
        "plugin:import/typescript"
    ],
    "plugins": ["import"], // 添加 'import' 插件
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "semi": false,
                "singleQuote": true,
                "printWidth": 100,
                "proseWrap": "preserve",
                "bracketSameLine": false,
                "endOfLine": "lf",
                "tabWidth": 4,
                "useTabs": false,
                "trailingComma": "none"
            }
        ],
        "vue/multi-word-component-names": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "no-undef": "off",
        "vue/prefer-import-from-vue": "off",
        "no-prototype-builtins": "off",
        "prefer-spread": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-non-null-asserted-optional-chain": "off",

        // 修改 import/order 规则
        "import/order": [
            "error",
            {
                "groups": [
                    "builtin", // Node.js的内置模块
                    "external", // 外部模块
                    "internal", // 内部模块
                    ["parent", "sibling", "index"], // 父级，同级和index文件
                    "type", // TypeScript类型导入
                    "object", // 对象导入
                    "unknown" // 未知类型的导入
                ],
                "pathGroups": [
                    {
                        "pattern": "@/layout/**",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "@/stores/**",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "@/utils/**",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "@/enums/**",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "@/hooks/**",
                        "group": "internal",
                        "position": "after"
                    }
                ],
                "pathGroupsExcludedImportTypes": ["builtin"],
                "newlines-between": "always", // 不同组之间留空行
                "alphabetize": { "order": "asc", "caseInsensitive": true } // 按字母顺序排序
            }
        ]
    },
    "globals": {
        "module": "readonly"
    }
}
